<p>Welcome to the new course management system!</p>

<ul>
	<li><%= link_to 'Add Course', new_course_path %></li>
</ul>
<% @courses.each do |course| %>
	<ul>
	<li><%= link_to course.name, :controller => "courses", :action => "show", :id => course.id %></li>
	</ul>
<% end %>

<%= link_to 'Back', courses_path%>